  body,h1,h2,h3,h4,h5,h6 {font-family: "Verdana", sans-serif;}
  body, html {
    height: 100%;
    width: 100%;
    color: #777;
    line-height: 1.8;
    background: rgba(0,0,0,1);
    padding: 0;
  }
  
  /*Parallax Effect */
  .bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../image/IMG_20190622_004827_465.jpg');
    min-height: 100%;
  }
  .navbar-button {
      cursor: pointer;
  }
  .photoGallery {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: 300px;
      grid-auto-flow: dense;
  }
  .photoGallery>div {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .photoGallery>div>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 5px;
      cursor: pointer;
  }
  .photoHorizontal {
      grid-column: span 2;
  }
  .photoVertical {
      grid-row: span 2;
  }
  .photoBig {
      grid-column: span 2;
      grid-row: span 2;
  }
  .photoNormal {
      grid-column: span 1;
      grid-row: span 1;
  }